@font-face {
  font-family: "Karla";
  src: url("../fonts/Karla-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Karla-italic";
  src: url("../fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Karla-bold";
  src: url("../fonts/static/Karla-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Karla-regular";
  src: url("../fonts/static/Karla-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Karla-regular", sans-serif;
}
body {
  background-color: hsl(148, 38%, 91%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: max-content;
  flex-direction: column;
  font-size: 2rem;
  color: hsl(187, 24%, 22%);
  overflow: auto;
}
.form-container {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  width: 50%;
  max-width: 700px;
  height: max-content;
  border-radius: 15px;
  padding: 5rem 4rem;
  top: 50%;
  transform: translate(0%, -50%);
}
.form-container__heading {
  color: hsl(187, 24%, 22%);
  font-family: "Karla-bold", sans-serif;
  font-size: 3.5rem;
}

.form-container button {
  width: 100%;
  height: 5rem;
  background-color: hsl(169, 82%, 27%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 1rem;
  font-family: "Karla-regular", sans-serif;
  font-size: inherit;
}

.form-row {
  display: flex;
  gap: 2rem;
  margin: 3rem 0;
}
.form-row .form-group {
  flex: 1;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid hsl(186, 15%, 59%);
  border-radius: 0.5rem;
  padding: 2rem;
  font-size: 1.6rem;
  height: 5rem;
}
input[type="radio"],
input[type="checkbox"] {
  transform: scale(1.5);
  accent-color: hsl(169, 82%, 27%);
}
input:focus,
textarea:focus,
button:focus {
  outline: none;
  border-color: hsl(169, 82%, 27%);
}
textarea {
  height: 13rem;
  color: hsl(187, 24%, 22%);
}
label {
  display: flex;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}
.radio-group {
  display: flex;
  gap: 2rem;
}
.radio {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid hsl(186, 15%, 59%);
  height: 5rem;
  align-items: center;
  display: flex;
  padding: 2rem;
}
.radio label {
  margin-bottom: 0px;
}
.form-consent {
  padding-left: 5px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.checkbox-group {
  display: flex;
  gap: 1.5rem;
}
/* error message */
.errFname,
.errLname,
.errEmail,
.errMessage,
.errConsent,
.errQuery {
  display: none;
  color: hsl(0, 66%, 54%);
  font-family: "Karla-regular", sans-serif;
  margin-top: 1.5rem;
}

/* popup */
.message-container {
  display: none;
  width: 50rem;
  background-color: hsl(187, 24%, 22%);
  position: absolute;
  top: 4rem;
  border-radius: 15px;
  padding: 3rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9;
  transition: opacity 0.3s ease-in-out;
  flex-direction: column;
}
.heading-logo {
  display: flex;
  gap: 1.4rem;
}
.message-container__heading {
  color: hsl(0, 0%, 100%);
  font-family: "Karla-bold", sans-serif;
  font-size: 2.5rem;
}
.message-container__text {
  color: hsl(0, 0%, 100%);
  font-family: "Karla-italic", sans-serif;
  font-size: 1.8rem;
  margin: 1.8rem 0rem 3.5rem 0rem;
}
.popupBtn {
  width: 20%;
  margin: 0 auto;
  padding: 0.8rem;
  font-size: 1.6rem;
  color: hsl(187, 24%, 22%);
  border: none;
  border-radius: 0.5rem;
}
.radio.selected {
  background-color: hsl(148, 38%, 91%);
  border-color: hsl(169, 82%, 27%);
}
/* footer */
.attribution {
  font-family: "Karla", sans-serif;
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}
@media (max-width: 768px) {
  body {
    font-size: 1.7rem;
  }
  .form-container {
    position: relative;
    width: 90vw;
    padding: 2rem;
    margin: 3rem auto;
    top: 0%;
    transform: translate(0%, 0%);
  }
  .form-row {
    flex-direction: column;
  }
  .radio-group {
    flex-direction: column;
  }
  textarea {
    height: 24rem;
  }
  /* footer */
  .attribution {
    display: none;
  }
  /* popup container */
  .message-container {
    width: 90vw;
    top: 3rem;
    padding: 3rem 2rem;
  }
  .message-container__heading {
    font-size: 2rem;
  }
  .message-container__text {
    font-size: 1.7rem;
    margin: 1.2rem 0rem 2.8rem 0rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 6px;
  }
  .form-container {
    max-width: 500px;
  }
}
@media (min-width: 1025px) and (max-width: 1400px) {
  html {
    font-size: 7px;
  }
  .form-container {
    max-width: 550px;
  }
}
@media (min-width: 1401px) and (max-width: 2400px) {
  html {
    font-size: 8px;
  }
  .form-container {
    max-width: 600px;
  }
}
